/* line 1, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_slider.scss */
.slider {
  margin: 10px 16px;
  border: 1px solid #c8c8c8;
  height: 6px;
  background: #fff;
  z-index: 1;
  cursor: pointer;
}
/* line 9, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_slider.scss */
.slider .handle {
  background: gainsboro;
  border: 1px solid #626262;
  width: 24px;
  height: 24px;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 18, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_slider.scss */
.slider .handle:hover {
  background: #fff;
}
/* line 23, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_slider.scss */
.slider .meter {
  z-index: 1;
  background: #2888e4;
  border: 1px solid #2888e4;
}

/* line 1, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors {
  position: relative;
}

/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-swatch {
  position: absolute;
  vertical-align: middle;
  background: url('../images/jquery.minicolors.png?1399321484') -80px 0;
  border: solid 1px #ccc;
  cursor: text;
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* line 16, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-swatch-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 24, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors input[type=hidden] + .minicolors-swatch {
  width: 28px;
  position: static;
  cursor: pointer;
}

/* Panel */
/* line 31, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-panel {
  position: absolute;
  width: 173px;
  height: 152px;
  background: white;
  border: solid 1px #CCC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
}

/* line 45, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-panel.minicolors-visible {
  display: block;
}

/* Panel positioning */
/* line 50, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-position-top .minicolors-panel {
  top: -154px;
}

/* line 54, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-position-right .minicolors-panel {
  right: 0;
}

/* line 58, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-position-bottom .minicolors-panel {
  top: auto;
}

/* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-position-left .minicolors-panel {
  left: 0;
}

/* line 66, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-with-opacity .minicolors-panel {
  width: 194px;
}

/* line 70, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors .minicolors-grid {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 150px;
  background: url('../images/jquery.minicolors.png?1399321484') -120px 0;
  cursor: crosshair;
}

/* line 80, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: none;
}

/* line 89, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}

/* line 93, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-saturation .minicolors-grid-inner {
  background: url('../images/jquery.minicolors.png?1399321484') -270px 0;
}

/* line 97, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}

/* line 101, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-brightness .minicolors-grid-inner {
  background: black;
}

/* line 105, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}

/* line 110, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider,
.minicolors-opacity-slider {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 20px;
  height: 150px;
  background: white url('../images/jquery.minicolors.png?1399321484') 0 0;
  cursor: row-resize;
}

/* line 120, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}

/* line 124, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}

/* line 128, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}

/* line 132, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}

/* line 138, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}

/* Pickers */
/* line 143, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 12px;
  height: 12px;
  border: solid 1px black;
  border-radius: 10px;
  margin-top: -6px;
  margin-left: -6px;
  background: none;
}

/* line 156, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-grid .minicolors-picker > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: solid 2px white;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 169, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: white;
  border: solid 1px black;
  margin-top: -2px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Inline controls */
/* line 184, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-inline {
  display: inline-block;
}

/* line 188, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-inline .minicolors-input {
  display: none !important;
}

/* line 192, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
  z-index: auto;
  display: inline-block;
}

/* Default theme */
/* line 202, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-default .minicolors-swatch {
  top: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
}

/* line 208, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
  left: auto;
  right: 5px;
}

/* line 212, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-default.minicolors {
  width: auto;
  display: inline-block;
}

/* line 216, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-default .minicolors-input {
  height: 20px;
  width: auto;
  display: inline-block;
  padding-left: 26px;
}

/* line 222, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-default.minicolors-position-right .minicolors-input {
  padding-right: 26px;
  padding-left: inherit;
}

/* Bootstrap theme */
/* line 228, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap .minicolors-swatch {
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

/* line 235, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap .minicolors-swatch-color {
  border-radius: inherit;
}

/* line 238, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
  left: auto;
  right: 3px;
}

/* line 242, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 44px;
}

/* line 245, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
  padding-right: 44px;
  padding-left: 12px;
}

/* line 249, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
  top: 4px;
  left: 4px;
  width: 37px;
  height: 37px;
  border-radius: 5px;
}

/* line 256, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/_minicolors.scss */
.minicolors-theme-bootstrap .minicolors-input.input-sm + .minicolors-swatch {
  width: 24px;
  height: 24px;
}

/* line 7, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 11, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: black;
}
/* line 20, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#viewport canvas {
  position: absolute;
}

/* line 24, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
.pjs-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  z-index: 100;
}

/* line 32, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 1em;
}
/* line 40, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls .btn-group {
  position: absolute;
  bottom: 60px;
  left: 1em;
  width: 160px;
}
/* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls .edit-group {
  display: none;
  width: 300px;
}
/* line 56, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls.state-add .ctrl-pause,
#controls.state-add .ctrl-download,
#controls.state-add .ctrl-edit,
#controls.state-add .ctrl-edit-velocities {
  display: none;
}
/* line 65, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls.edit .ctrl-pause,
#controls.edit .ctrl-download {
  display: none;
}
/* line 68, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#controls.edit .edit-group {
  display: inline-block;
}

/* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 14em;
  background: #fff;
  padding: 1em;
  border: 1px solid gainsboro;
  z-index: 100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 86, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu label {
  float: left;
  width: 4em;
  display: block;
  color: #1a1a1a;
  text-align: left;
}
/* line 94, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu .slider {
  margin-left: 4em;
  margin-right: 0;
}
/* line 98, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu .slider .handle:after {
  content: attr(data-val);
  position: absolute;
  top: -1.5em;
  width: 80px;
  color: #1a1a1a;
  margin-left: -29px;
  text-align: center;
  font-size: 14px;
}
/* line 110, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu .ctrl-close {
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  width: 1.3em;
  height: 1.3em;
  background: #0050e0;
  color: #5bbff3;
  text-align: center;
  font-size: 20px;
  line-height: 1.15em;
  cursor: pointer;
  border: 1px solid #5bbff3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 126, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu input {
  width: 8em;
}
/* line 130, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu .minicolors {
  float: left;
  margin-bottom: 0.4em;
}
/* line 134, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu .color {
  outline: none;
  border-color: #c8c8c8;
}
/* line 140, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Pendulum/library/styles/site.scss */
#ctx-menu button,
#ctx-menu .btn {
  margin-top: 1em;
  padding: 0.4em 1em;
}
