// site styles
@import 'compass/css3';
@import '_vars';
@import '_slider';
@import '_minicolors';

html, body, #wrap-outer {
    height: 100%;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: black;

    canvas {
        position: absolute;
    }
}
.pjs-meta {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    z-index: 100;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    // background: #fff;
    padding: 1em;

    .btn-group {
        position: absolute;
        bottom: 60px;
        left: 1em;
        width: 160px;
    }

    .edit-group {
        display: none;
        width: 300px;
    }

    &.state-add {
        .ctrl-pause,
        .ctrl-download,
        .ctrl-edit,
        .ctrl-edit-velocities {
            display: none;
        }
    }

    

    &.edit {
        .ctrl-pause,
        .ctrl-download {
            display: none;
        }
        .edit-group {
            display: inline-block;
        }
    }
}

#ctx-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 14em;
    background: darken($deep-grey-dark, 10);
    padding: 1em;
    border: 1px solid $deep-grey;
    z-index: 100;
    @include border-radius( 3px );

    label {
        float: left;
        width: 4em;
        display: block;
        color: $grey-light;
        text-align: left;
    }

    .slider {
        margin-left: 4em;
        margin-right: 0;

        .handle:after {
            content: attr(data-val);
            position: absolute;
            top: -1.5em;
            width: 80px;
            color: $grey-light;
            margin-left: -29px;
            text-align: center;
            font-size: 14px;
        }
    }

    .ctrl-close {
        position: absolute;
        top: -0.6em;
        right: -0.6em;
        width: 1.3em;
        height: 1.3em;
        background: $deep-blue;
        color: $blue-light;
        text-align: center;
        font-size: 20px;
        line-height: 1.15em;
        cursor: pointer;
        border: 1px solid $blue-light;
        @include border-radius( 50% );
    }

    input {
        width: 8em;
    }

    .minicolors {
        float: left;
        margin-bottom: 0.4em;
    }
    .color {
        outline: none;
        border-color: $deep-grey-dark;
    }

    button,
    .btn {
        margin-top: 1em;
        padding: 0.4em 1em;
    }
}
